<section class="footer__area footer-bg" [class.box-m-15]="box_style">
  <div class="footer__top pt-100 pb-60">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
          <div class="footer__widget mb-30">
            <div class="footer__widget-title mb-25">
              <a routerLink="/home/home-style-1">
                <img src="/assets/img/logo/logo-6.png" alt="logo">
              </a>
            </div>
            <div class="footer__widget-content">
              <p>
                Montres de luxe, bijoux et lunettes d’exception.
                Une sélection raffinée, livrée gratuitement partout au Maroc 🇲🇦.
              </p>
              <div class="footer__contact">
                <ul>
                  <li>
                    <div class="icon">
                      <i class="fal fa-map-marker-alt"></i>
                    </div>
                    <div class="text">
                      <span>37 rue Oukeimden, Agdal, Rabat, Maroc</span>
                    </div>
                  </li>

                  <li>
                    <div class="icon">
                      <i class="fab fa-whatsapp"></i>
                    </div>
                    <div class="text">
                      <span>WhatsApp : +212 6 62 22 18 66</span>
                    </div>
                  </li>

                  <li>
                    <div class="icon">
                      <i class="fal fa-shipping-fast"></i>
                    </div>
                    <div class="text">
                      <span>Livraison gratuite partout au Maroc</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-12">
          <div class="footer__widget mb-30">
            <div class="footer__widget-title">
              <h5>information</h5>
            </div>
            <div class="footer__widget-content">
              <div class="footer__links">
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Delivery Inforamtion</a></li>
                  <li><a href="#">Terms & Condition</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-12">
          <div class="footer__widget mb-30">
            <div class="footer__widget-title mb-25">
              <h5>Customer Service</h5>
            </div>
            <div class="footer__widget-content">
              <div class="footer__links">
                <ul>
                  <li><a href="#">Shipping Policy</a></li>
                  <li><a href="#">Help & Contact Us</a></li>
                  <li><a href="#">Online Stores</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="row align-items-center">

        <!-- LEFT -->
        <div class="col-xl-6 col-lg-7">
          <div class="footer__copyright">
            <p>
              © {{ currentYear }}
              <a routerLink="/home/home-style-1">Planète des Montres</a>.
              Tous droits réservés.
            </p>
          </div>
        </div>

        <!-- RIGHT -->
        <div class="col-xl-6 col-lg-5">
          <div class="footer__social f-right">
            <ul>
              <li>
                <a href="https://www.instagram.com/planete_des_montres" target="_blank">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/planeteMontresRabat/" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
