<!-- header start -->
<app-header-one [white_bg]="true"></app-header-one>
<!-- header end -->

<main>

<!-- breadcrumb start -->
<app-breadcrumb-one
  bg="assets/img/page-title/page-title-3.jpeg"
  title="Boutique"
  subtitle="Boutique">
</app-breadcrumb-one>
<!-- breadcrumb end -->
 
  <!-- shop area start -->
  <app-list-products></app-list-products>
  <!-- <app-shop-area></app-shop-area> -->
  <!-- shop area end -->
</main>

<!-- footer start -->
<app-footer-one></app-footer-one>
<!-- footer end -->
